{% extends "base/index.html" %}

{% block subtitle %}{{ hw.course.course_code }} Homework: {{ hw.name }}{% endblock subtitle%}

{% block mainHeading %}{{ hw.course.course_code }} Homework: {{ hw.name }}{% endblock mainHeading %}

{% block importantMessage %}{% endblock importantMessage %}

{% block content %}
<p>{{ hw.name }}: Due {{ hw.due_date }}</p>

<p>{{ hw.description }}</p>

{% if normal_score %}
<p>Regular points earned for this assignment: {{ normal_score }}
{% if maxed_out %}
<span class="cheers">You've owned this assignment!</span>
{% endif %}
</p>
{% endif %}

{% if extra_credit_score %}
<p>Extra credit points earned for this assignment: {{ extra_credit_score }}</p>
{% endif %}

{% if best_java %}
<p>Best Java Score: {{ best_java }}
{% if best_java_full %}
<span class="cheers">Yay!</span>
{% endif %}
</p>
{% endif %}

{% if best_py %}
<p>Best Python Score: {{ best_py }}
{% if best_py_full %}
<span class="cheers">Yay!</span>
{% endif %}
</p>
{% endif %}

{% if best_cpp %}
<p>Best CPP Score: {{ best_cpp }}
{% if best_cpp_full %}
<span class="cheers">Yay!</span>
{% endif %}
</p>
{% endif %}

<ul>
{% for r in related %}
  <li><a href="{{r.value}}">{{r.name}}: {{r.value}}</a></li>
{% endfor %}
</ul>

{% if subs %}
<p>List o' previous submissions for this homework:</p>
<ul>
{% for s in subs %}
<li><a href="/hw/{{hw.id}}/sub/{{s.id}}">{{ s.submitted_date }}: {{ s }} </a></li>
{% endfor %}
</ul>
{% else %}
<p>You haven't submitted anything for this assignment yet.</p>
{% endif %}

<form name="turn_in_homework" enctype="multipart/form-data" 
      method="POST" action="/hw/{{hw.id}}/submit/">
{% csrf_token %}
<p>A file: <input type="file" name="somefile"></p>
<p>A file: <input type="file" name="somefile2"></p>
<p>A file: <input type="file" name="somefile3"></p>
<input type="submit" />
</form>

{% if sub %}
<p>Submission results:</p>

<p>Score: {{ sub.score }} / {{ sub.possible_score }}
{% if not sub.on_time %}
(capped at {{ sub.homework.points_possible_when_late }} because it was late)
{% endif %}
</p>

{% if max_score %}
<p>Yay :)</p>
{% endif %}
</p>

<p><pre>{{ sub.retrograde_output }}</pre></p>

<p>Verbose output...</p>

<p><pre>{{ sub.verbose_output }}</pre></p>

{% endif %}
{% endblock content %}

{# ta army meeting code: fprwks #}
